<html ng-app="app">
<head>
    <title>Chat.io</title>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/style/style.css">
</head>
<body>

<div class="container">

    <div ui-view></div>

</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/bower_components/lodash/dist/lodash.min.js"></script>
<script src="/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/bower_components/angular/angular.min.js"></script>
<script src="/bower_components/angular-resource/angular-resource.min.js"></script>
<script src="/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
<script src="/bower_components/angular-cookies/angular-cookies.min.js"></script>
<script src="/app/app.js"></script>
<script src="/app/login/login-controller.js"></script>
<script src="/app/chat/chat-controller.js"></script>
<script src="/app/socket/socket-factory.js"></script>
</body>
</html>